<h2>1 Year Prioritization Roadmap for Developers</h2>

<div class="cta">
  <%= button_to 'Create Your Roadmap', new_roadmap_path, { class: "new-rockmap-btn", method: :get } %>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sem ultrices, vestibulum ipsum non, dictum dui. Phasellus tincidunt ullamcorper nisi in ullamcorper. Praesent eget nulla nisi. Sed bibendum dictum dolor, vel egestas tellus maximus a. Vestibulum tristique velit quis mi scelerisque euismod. Phasellus aliquam pharetra massa. Donec arcu enim, bibendum sed pellentesque ac, fermentum in enim. In malesuada felis sed metus congue, in aliquam ante faucibus. Vestibulum tincidunt leo augue, a faucibus nibh varius vitae. Nullam non maximus risus. Nullam in enim luctus, tincidunt dui quis, elementum mauris. Donec sit amet convallis libero, at auctor ex. Maecenas placerat enim mi, sed semper est dictum viverra. Vivamus tempor urna sit amet lectus maximus volutpat.
</p>

<p>
  Integer vitae fringilla arcu. Quisque tristique mi quis cursus maximus. Duis sed consectetur sem. Nulla facilisi. Morbi eget orci orci. Proin eget erat eget felis fermentum auctor tempus ac felis. Curabitur at aliquam neque. Phasellus pharetra viverra laoreet. Maecenas fermentum, massa sit amet ultricies viverra, urna odio viverra risus, at elementum enim augue dictum nisi.
</p>

<p>
  Maecenas a eros ullamcorper, iaculis sapien volutpat, tempus ex. Vestibulum erat tellus, faucibus vel mauris ut, ullamcorper elementum sem. In auctor consequat dui vel scelerisque. In vestibulum ac turpis ut posuere. Aenean nisl tellus, venenatis eget eleifend ut, finibus vitae turpis. Aenean sodales eleifend rutrum. Nunc eget libero eu sapien suscipit rhoncus at at eros. Maecenas sit amet sem et orci semper dictum ut convallis leo. Etiam vel diam molestie, mattis nunc ut, eleifend neque. Nam egestas placerat purus at tempus. Donec lacinia pretium risus ut tristique. Duis ut placerat nisi, sit amet interdum arcu. Morbi aliquam, velit id condimentum pretium, mauris urna varius neque, quis scelerisque felis nibh quis tortor.
</p>

<p>
  It's Rock Time: <%= Time.now %>
</p>

<div class="cta">
  <%= button_to 'Create Your Rockmap Now!', new_roadmap_path, { class: "new-rockmap-btn", method: :get } %>
</div>
