<h2>Your Rockmap 2021</h2>
<p>
  The time is now: <%= Time.now %>
</p>
<form>
  <input name="The ONE Thing" value="Productocracy">
  <input name="Your Why" type="text" value="well because it's fancy..">
  <input name="Milestone" value="Build Rockmap 2021">
  <input name="Milestone Date" value="31.12.2020">
  <input name="The ONE Habit" type="date" value="Meditating">
  <button type="submit">Go Rock!</button>
</form>
