<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Congrats registering for myrockmap.com, <%= @user.email %></h1>
  <p>Thanks for joining and have a great rock!</p>
  <p>If you've set a reminder period, you will get more email every now and then.</p>
  <p>You can always change or remove the email reminders in your profile tab.</p>
  <footer>Sincerely yours, Rich</footer>
</body>
</html>